body,
html {
    font-family: 'Montserrat' !important;
}

@media screen and (max-width: 580px) {
    .min-height-banner {
        height: 100vh !important;
    }

    .video-background {
        height: 100vh !important;
    }

    .f-size-min-2 {
        font-size: 1.4rem !important;
    }

    .f-size-min-3 {
        font-size: 1.4rem !important;
    }

    .left-10px {
        left: 25px !important;
        top: 60px !important;
    }

    .margin-left-0 {
        margin-left: 0px !important;
    }

    .w-auto-mobile {
        width: auto !important;
    }

    .d-none-mobile {
        display: none !important;
    }

    .margin-top-mobile {
        margin-top: 5px !important;
    }

    .carousel-indicators {
        text-align: center !important;
        margin-bottom: -50px !important;
    }

    .carousel-indicators button {
        background-color: rgb(0, 0, 0) !important;
    }

    .min-height-cards {
        height: 250px !important;
    }

    .left-cards {
        left: 20px !important;
    }

    .right-cards {
        right: 20px !important;
    }

    .font-size-cards {
        font-size: 130px !important;
    }

    .padding-x-cards-footer {
        padding: 10px 25px 10px 25px !important;
    }

    .card-cuota-mensual {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .icons-creditos {
        display: flex !important;
        align-items: center !important;
    }
    .form-search div{
        display: block !important;
    }
    .padding-inputs{
        padding: 0 10px;
    }
}

.margin-top-mobile {
    margin-top: 5%;
}

.carousel-indicators {
    display: block !important;
    margin-left: 12% !important;
    padding-bottom: 1% !important;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-color: black;
}

summary {
    position: relative;
}

summary::marker {
    content: none;
}

summary::before,
summary::after {
    content: '';
}

summary::before,
summary::after {
    width: .65em;
    height: 0;
    border-bottom: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
}

summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

[open] summary::after {
    transform: rotate(0deg);
}

.card-creditos:hover {
    background-color: #c61617;
    color: #ffffff;
}

.card-creditos:hover>div>div>div>div>p>a {
    color: #ffffff !important;
}

.card-creditos:hover>div>div>div>img {
    filter: brightness(0) invert(1) !important;
}
@keyframes moverDeIzquierdaADerecha {
    from {
        margin-left: -700px; /* Margen inicial negativo */
    }
    to {
        margin-left: 0; /* Margen final (posición original) */
    }
}
.animacion-izquierda-derecha {
    animation: moverDeIzquierdaADerecha 1s forwards;
}
/* Ajuste del video */
.video-background {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50;
    left: 0;
}

/* Capa de oscurecimiento */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.233); /* Ajusta la opacidad para mayor o menor oscurecimiento */
    z-index: 2;
}

/* Asegurar que el contenido del banner esté por encima del filtro */
.text-banner {
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Ajustes del texto */
.banner-title {
    font-family: 'Bitter', serif;
    color: #fff;
    font-size: 3rem;
    font-style: italic;
}

.banner-text {
    font-size: 1rem;
    color: #fff;
}

/* Ajustes del formulario */
.form-search {
    width: 850px;
}

.form-search > div{
    padding: 0 7%;
}

.search-title {
    font-size: 22px;
    color: #740f0f;
    font-weight: 500;
}
